# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## Playgrounds
timeline.xctimeline
playground.xcworkspace


# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output


# macOS
.DS_Store

# Xcode user-specific
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Derived data & build products
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
# (Package.resolved committen, .build NICHT)
.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata/

# CocoaPods (Variante siehe Kommentar)
Pods/
Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/


# Other
*.xcuserstate
*.orig
